<!step 2.1: In create_profile.html, add method, enctype, action, csrf token, name to input.!>
<!step 4.3: in create_profile.html, replace input tag with form intergartion!>



{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a Profile</title>
  <link rel="stylesheet" href="{% static "profiles/styles.css" %}">
</head>
<body>
  <form action="/profiles/" method = "POST" enctype = "multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button>Upload!</button>
  </form>
</body>
</html>