<!step 1.7: create review.html file inside template/review folder!>
<!step 2.1: create test form in review.html file!>
<!step 4.1: add csrf_token to the form to protect from hackers!>
<!step 6.3: remove input field and call the form inside html, remove input field, as all the fields are mentioned in the forms.py!>
<!step 9.1: insted of rendering the complete form, we can render form fields one by one and change the allignment using '.'!>
<!step 9.2: Also, we can create seprate div class to assign style as well. also we can use if condition inside the class.!>
<!    step 10.2: in reviews.html, load static and add the css file link to stylesheet with {% static ""%}!>




{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Review </title>
    <link rel="stylesheet", href="{% static "review/styles.css" %}">

</head>

<body>
    <form action = "/" method = "POST">
        {% csrf_token %}
        <div class="form_control {% if form.user_name.errors %} error {% endif%}">
        {{ form.user_name.label_tag }}
        {{ form.user_name }}
        {{ form.errors}}
        </div>
        
        <button type = "submit"> Send </button>
    </form>
  
</body>
</html>