<!step 1.7: create review.html file inside template/review folder!>
<!step 2.1: create test form in review.html file!>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Review </title>

</head>

<body>
    <form>
        <lable for= "username"> Your Name </lable>
        <input id = "username" name="username" type = "text">
        <button> Semd </button>
    </form>
  
</body>
</html>